@charset "utf-8";

:root {
    --bg: midnightblue
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;



}

a {
    text-decoration: none;
    color: white;


}

.mom {}

.nav {

    background-image: url(images/p9.jpg);
    height: 4.5em;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    color: white;
    position: fixed;
    width: 100%
}

.nav span:first-child span {
    background-color: white;
    color: black;
    letter-spacing: 0.3em;
    padding: 0em 0.2em 0em 0.2em
}

.nav span:nth-child(2) {}

.nav > span,
a {
    padding: 1em;
    font-size: 1.5em;
    letter-spacing: 0.1em
}

.nav span:hover {

    color: aquamarine
}

.nav span:hover span {
    ;
    background-color: aquamarine;
    color: black
}


.header {
    background-image: url(images/p9.jpg);background-size: cover;
    height: 33em;
    color: white;
    display: flex;
    justify-content: flex-start;
    align-items: center
}

.headline {

    text-align: left;
    align-self: center;
    margin-left: 4em;
    margin-right: 0.4em;
    margin-top: 2em;
    display: grid;

}


.headline p:first-child {

    font-size: 4.2em;
    grid-column: 1/10;
    letter-spacing: 1px;
    text-decoration: underline
}

.headline p:nth-child(3) {


    font-size: 1.1em;
    grid-column: 1/6;
    letter-spacing: 0.1em;
    line-height: 1.5em
}

.headline button {



    grid-column: 7/10;
    font-size: 1.1em;
    letter-spacing: 0.1em
}

.headline button:hover {

    border-color: aquamarine;
    color: aquamarine
}


button {
    outline: none;
    background-color: transparent;
    border: 2px solid white;
    padding: 1em 2em 1em 2em;
    color: white;


}

.article {
    display: grid;
    grid-template-areas:
        'p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2 p2 p2 p2'
        'p3 p3 p3 p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4'
        'p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6 p6 p6 p6 '
        ;
    



    
      
}

.article > div {
    
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    
    height: 25em;
background-image: url(images/p9.jpg);
    transition-duration: 0.5s;
    transition-property: background-image

}



.article > div:hover{
    
    background-image: url(images/p2.jpg);
    transition: 0.5s
}  


.article div p:nth-child(2){
    font-size: 1.2em;
    margin-left: 6em;
    color: white
    
}



.article div p:first-child{
    font-size: 2.5em;
    margin-left: 3em;
    text-decoration: underline;
    
    
    margin-bottom: 0.2em;
    color: white
    
}


.post1 {
    grid-area: p1;

}

.post2 {
    grid-area: p2;
    
}

.post3 {
    grid-area: p3;
    
}

.post4 {
    grid-area: p4;
   
}

.post5 {
    grid-area: p5;
   
}

.post6 {
    grid-area: p6;
    
}

.postfoot{height: 20em}

@media screen and (max-width:600px) {

    .nav > span,
    a {
        padding: 1em;
        font-size: 1.2em;
        letter-spacing: 0.1em
    }

    .header {
        justify-content: center;
        align-items: center
    }

    .header div {
        margin-left: 0
    }

    .header p:first-child {

        font-size: 2.2em;



    }

    .header p:nth-child(3) {


        font-size: 1em;
        grid-column: 1/10
    }


    .headline p:nth-child(3) {


        font-size: 1.1em;
        grid-column: 1/10;
    }

    .headline button {
        grid-column: 5;
        margin-top: 1.5em
    }

    .article {
        
        grid-template-areas:
            'p1'
            'p2'
            'p3'
            'p4'
            'p5'
            'p6'
    }
    .article > div {
        height: 20em;
        align-items: center;
    
    }
    
    .article div p:nth-child(2){
    font-size: 1em;
        margin-left: 0
    
}



.article div p:first-child{
    font-size: 1.3em;
margin-left: 0
    
    
}
    




}

@media screen and (min-width:600px) {


    .header p:first-child {

        font-size: 3em;

    }
    .headline button {



    
    grid-column: 5;
        margin-top: 1em;
        
    
}
    
      .article {
        
        ; grid-template-areas:
            'p1 p2'
            'p3 p4'
            'p5 p6';
        
    }
    
    .article > div {
        height: 21em
    }
    
    .article > div {
        
        align-items: center;
    
    }
    
    .article div p:nth-child(2){
    font-size: 1em;
        margin-left: 0
    
}



.article div p:first-child{
    font-size: 1.5em;
margin-left: 0
    
    
}








}

@media screen and (min-width:768px) {


    .header p:first-child {

        font-size: 4.5em;

    }
    
    .headline button {



    
    grid-column: 7/10;
        margin: 0
    
}
    .article > div {
        height: 25em
    }
     




    
        


.article div p:nth-child(2){
    font-size: 1.1em;
    margin-left:0
    
}



.article div p:first-child{
    font-size: 1.7em;
    margin-left: 0
    
}

@media screen and (min-width:992px) {

    .header p:first-child {

        font-size: 4.5em;

    }
    
    .article > div {
        
        align-items: flex-start;
    
    }
    
    .article div p:nth-child(2){
    font-size: 1.1em;
        margin-left: 5.5em
    
}



.article div p:first-child{
    font-size: 2em;
margin-left:3em
    
    
}
    
.article {
    display: grid;
    grid-template-areas:
        'p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2 p2 p2 p2'
        'p3 p3 p3 p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4'
        'p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6 p6 p6 p6 '
        ;
    



    
      
}





}

@media screen and (min-width:1200px) {

    .header p:first-child {

        font-size: 4.5em;

    }
    .article {
   
    grid-template-areas:
        'p1 p1 p1 p1 p1 p2 p2 p2 p2 p2 p2 p2 p2 p2'
        'p3 p3 p3 p3 p3 p3 p3 p3 p3 p4 p4 p4 p4 p4'
        'p5 p5 p5 p5 p5 p6 p6 p6 p6 p6 p6 p6 p6 p6 '
        ;
    

}
    
    .article > div {
    
    
    justify-content: center;
    align-items: flex-start;
    
    }

    
    


.article div p:nth-child(2){
    font-size: 1.2em;
    margin-left: 6em
    
}



.article div p:first-child{
    font-size: 2.5em;
    margin-left: 3em
    
}
    
}
